[push]
        default = simple
[user]
        email = buritomath@gmail.com
        name = Boro Sitnikovski
[core]
        editor = vim
        excludesfile = ~/.gitignore_global

[diff]
        tool = vimdiff
